/* 修改标题样式 */
#page-header #site-title,
#page-header #site-subtitle{
  text-align: left !important;
  padding-left: 36px;
}

@media screen and (max-width: 768px) {
    #page-header #site-title,
    #page-header #site-subtitle {
        padding-left: 16px;
    }
  }


/* 修改头像显示样式 */
.avatar-img img:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}




